@font-face {
    font-family: 'Zabars';
    src: url('fonts/Zabars.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/desert-5112222.png');
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Zabars';
    font-size: 45px;
}

canvas {
    background-color: black;
}

.btn {
    background-color: #ffe000;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    font-size: 35px;
    font-family: 'Zabars';
    cursor: pointer;
}

.restartBtn {
    width: 100px;
}

.btn:hover {
    transform: scale(1.1);
}

.btnContainer {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dNone {
    display: none;
}

#gameOverScreenContainer {
    position: absolute;
    top: 0;
}