@font-face {
    font-family: 'Zabars';
    src: url('fonts/Zabars.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/desert-5112222.png');
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Zabars';
    font-size: 45px;
    height: 100vh;
    width: 100vw;
}

canvas {
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px black;
    background-color: black;
    display: block;
}

#startScreen {
    height: 100%;
}

.startScreenImg {
    height: 480px;
    width: 720px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px black;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe000;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    color: black;
    font-size: 35px;
    font-family: 'Zabars';
    cursor: pointer;
}

.restartBtn {
    width: 100px;
}

.btn:hover {
    transform: scale(1.1);
}

.btnContainer {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dNone, .rotateDeviceContainer {
    display: none;
}

#gameOverScreenContainer {
    position: absolute;
    top: 0;
}

.fullscreenImg {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

.fullscreenImg:hover {
    transform: scale(1.2);
}

:fullscreen .fullScreenGame {
    height: 100vh;
    width: 100%;
}

.upperPanel {
    display: flex;
    gap: 24px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
}

.upperPanelImg {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #ffe000;
    cursor: pointer;
}

.instructionContainer {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: saddlebrown;
    height: 100vh;
}

@media only screen and (max-width: 720px) {
    body {
        height: 100vh;
    }

    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .startScreenImg {
        width: 100vw;
    }

    .rotateDeviceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: black;
        height: 480px;
        width: 100%;
    }

    .rotateYourDevice {
        color: #ffe000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    canvas, .startScreenImg {
        border-radius: unset;
    }

    #fullscreen {
        height: 100vh;
    }

    body {
        overflow: hidden;
    }

    .btn {
        width: 100px;
        height: 45px;
    }

    .btnContainer {
        bottom: 95px;
    }

    .startScreenImg {
        height: 100vh;
        width: 100%;
    }

    h1 {
        display: none;
    }

    .fullscreenImg {
        display: none;
    }

    #hud {
        display: flex;
    }

    .panel1 {
        display: flex;
        position: absolute;
        gap: 24px;
        bottom: 30px;
        left: 20px;
    }

    .panel2 {
        display: flex;
        position: absolute;
        gap: 24px;
        bottom: 30px;
        right: 20px;
    }

    .mobileBtn {
        height: 40px;
        width: 40px;
    }
}